<div class="row pdr-15 pad-sm-15 pad-horizontal-15">
	<div class="col-3 col-md-2 text-center div-logo" style="margin: auto;"><img src="/imagens/[#logomarca]" id="LogoSME"></div>
	<div class="col-9 col-md-10 col-header-12 div-logo-auto border border-dark rounded">
		<div class="row">
			<div class="col-12 text-center negrito">
				[#smenome]<br>
				[#nomeescola]
			</div>
		</div>
		<hr class="min">
		<div class="row align-items-center">
			<div class="col-4 col-md-3 align-self-center ft9">
				[#TRIMESTRE]º TRIMESTRE
			</div>
			<div class="col-8 col-md-6 ft10">
				<div class="row text-center">
					<div class="col-12">
						GUIA DE APRENDIZAGEM
					</div>
				</div>
				<div class="row text-center">
					<div class="col-12">
						[#discnome] <strong>[#turma]</strong>	
					</div>
				</div>
			</div>
			<div class="col-md-3 dsm-none">
				<div class="row text-right">
					<div class="col-12 ft10">
						[#data]
					</div>
				</div>
			</div>
		</div>
	</div>
</div>