<div class="row pdr-15 pad-sm-15 pad-horizontal-15">
	<div class="col-3 col-md-2 text-center align-self-center"><img src="/imagens/[#logomarca]" class="tesalogo"></div>
	<div class="col-9 col-md-10 border border-dark rounded">
		<div class="row">
			<div class="col-12 text-center negrito">
				[#smenome]<br>
				[#nomeescola]
			</div>
		</div>
		<hr class="min">
		<div class="row align-items-center">
			<div class="col-3 col-md-3">
				<span class="ft10">[#TRIMESTRE]º TRIMESTRE</span>
				<!--
				<div class="row text-center">
					<div class="col-3">[#ABT1]</div>
					<div class="col-3">[#ABT2]</div>
					<div class="col-3">[#ABT3]</div>
					<div class="col-3"></div>
				</div>
				<div class="row text-center">
					<div class="col-3"><a href="/[#link]/TRI1">1º</a></div>
					<div class="col-3"><a href="/[#link]/TRI2">2º</a></div>
					<div class="col-3"><a href="/[#link]/TRI3">3º</a></div>
				</div>
				-->
			</div>
			<div class="col-6 col-md-6 ft10">
				<div class="row text-center">
					<div class="col-12">
						[#discnome] <strong>[#turma]</strong>	
					</div>
				</div>
				<div class="row text-center">
					<div class="col-12">
						[#professor]
					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="row text-right">
					<div class="col-12 ft10">
						[#data]
					</div>
				</div>
			</div>
		</div>
	</div>
</div>