<div class="row pdrl-15  mb-1">
	<div class="col-3 col-md-3 text-center m-auto dh-cel-none"><img src="/imagens/[#logomarca]" class="tesalogo"></div>
	<div class="col-12 col-sm-9 col-md-9 border border-dark rounded">
		<div class="row">
			<div class="col-12 text-center negrito">
				[#smenome]<br>
				[#nomeescola]
			</div>
		</div>
		<hr class="min">
		<div class="row align-items-center">
			<div class="col-4 col-md-3 align-self-center ft9 dh-cel-none">
				[#TRIMESTRE]º TRIMESTRE
			</div>
			<div class="col-12 col-md-6 ft10">
				<div class="row text-center">
					<div class="col-12">
						ENSINO À DISTÂNCIA
					</div>
				</div>
				<div class="row text-center">
					<div class="col-12 align-self-center">
						[#discnome] <strong class="ml-2">[#turma]</strong>	
					</div>
				</div>
			</div>
			<div class="col-md-3 align-self-center ft10 text-right dh-cel-none">
				[#data]
			</div>
		</div>
	</div>
</div>