<html>
	<body>
		<div style="font-family: 'Arial';">
		<div style="width:90%; padding: 15px; margin: 5px auto; border: 1px solid #CCC; border-radius: 5px; background: #fafafa; text-align: center;">
			<div style="font-size:26pt;"><strong>TESA</strong></div>
			<div style="font-size:10pt;">NOVO TICKET</div>
		</div>
		<div style="width:90%; padding: 5px 15px; margin: 5px auto; border: 1px solid #CCC; border-radius: 5px; background: #fafafa; text-align: left;">
			CRIADO POR: <strong>#CRIADOPOR</strong>
		</div>
		<div style="width:90%; padding: 15px; margin: 5px auto; border: 1px solid #CCC; border-radius: 5px; text-align: left; font-size: 12pt;">
			#MENSAGEM
		</div>
		<div style="width:90%; padding: 5px 15px; margin: 5px auto; text-align: right; font-size: 11pt;">
			#HORA
		</div>
		</div>
	</body>
</html>