<strong class="mr-3">Art. 84</strong> III - ao educando que cometa ato infracional, aplica-se:
<ol type="a" class="mt-1 mb-1">
	<li>suspensão das aulas pelo período de 3 (três) a 5 (cinco) dias letivos; e/ou</li>
	<li>transferência compulsória para outra unidade de ensino, quando viável, de acordo com as decisões do conselho escolar.</li>
</ol>
<strong class="mr-3">Art. 85</strong> § 1.º Em casos de medidas educativas disciplinares, que importem em suspensão, deverá o diretor da unidade de ensino, a equipe pedagógica e a docente providenciar atividades pedagógicas a serem cumpridas pelo educando na própria unidade de ensino, durante o período de suspensão. <br>
<strong class="mr-3">Art. 86</strong> III - as medidas previstas no parágrafo 3.º do artigo 84 são aplicadas pelo conselho escolar.