<div class="row justify-content-center ft10 mt-2">
	<div class="col-12 col-md-9">
		<div class="card">
			<div class="card-header pad-main ft10">BEM-VINDO</div>
			<div class="card-body text-center">
				<div class="row justify-content-center">
					<div class="col-12 col-sm-10 col-md-8">
						<img src="/imagens/tesa.logo.jpg" width="75%">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	
	
<div class="row justify-content-center ft10 mt-2">
	<div class="col-12 col-sm-6 col-md-3 mb-1">
		<div class="card h-100">
			<div class="card-header pad-main bg-verpsc text-white"><i class="fa fa-atom"></i> O QUE É A TESA?</div>
			<div class="card-body h-100">
				A TESA é um web-software que busca auxiliar todos os envolvidos no processo educativo e com foco, em especial, no modelo educativo do tempo integral do estado do Espírito Santo.
			</div>
			<div class="card-footer pdtb-5 text-right">
				<a href="/wiki/tesa" class="pdtb-0 btn btn-verpsc ft10">Saiba mais</a>
			</div>
		</div>
	</div>
	
	<div class="col-12 col-sm-6 col-md-3 mb-1">
		<div class="card h-100">
			<div class="card-header pad-main bg-wine text-white"><i class="fa fa-user-circle"></i> QUEM SOMOS</div>
			<div class="card-body h-100">
				A TESA foi desenvolvida por um professor com o auxilio de diversos servidores, ouvindo e buscando entender a necessidade de cada parte da escola.
			</div>
			<div class="card-footer pdtb-5 text-right">
				<a href="/wiki/quem-somos" class="pdtb-0 btn btn-wine ft10">Saiba mais</a>
			</div>
		</div>
	</div>
	
	<div class="col-12 col-sm-6 col-md-3 mb-1">
		<div class="card h-100">
			<div class="card-header pad-main bg-warning"><i class="fa fa-puzzle-piece"></i> ESCALA MODULAR</div>
			<div class="card-body h-100">
				O Sistema funciona com escalabilidade modular, ou seja, para cada necessidade da escola existe um módulo para auxliar os envolvidos no trabalho dentro dessa necessidade.
			</div>
			<div class="card-footer pdtb-5 text-right">
				<a href="/wiki/modulos" class="pdtb-0 btn btn-warning ft10">Saiba mais</a>
			</div>
		</div>
	</div>
	
</div>