<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>TESA: ERRO</title>
  <link rel="icon" type="image/png" href="./imagens/favicon.png" />
  <link rel="stylesheet" href="./css/import.css">
  <link rel="stylesheet" href="./css/stilo.css?<?=filemtime('./css/stilo.css');?>">
  <script src="./js/jquery-3.3.1.min.js"></script>
  <script src="./js/popper.min.js"></script>
  <script src="./js/bootstrap.min.js"></script>
  <script src="./js/summernote-bs4.min.js"></script>
  <script src="./js/jquery.mask.min.js"></script>
  <script src="./js/toastr.min.js"></script>
  <script src="./js/toastr.option.js"></script>
  <script src="./js/adds.js?<?=filemtime('./js/adds.js');?>"></script>
  <script src="./js/datatables.min.js"></script>
  <script src="./js/dataTables.bootstrap4.min.js"></script>
  <script src="./js/jquery-confirm.min.js"></script>
  <script src="./js/bootstrap-datepicker.min.js"></script>
  <script src="./js/bootstrap-datepicker.pt-BR.min.js"></script>
  <script src="./js/Chart.min.js"></script>
  <script src="./js/Chart.bundle.min.js"></script>
  <script src="./js/chartjs-plugin-datalabels.min.js"></script>
  <script src="./js/mathjax3.min.js"></script>
  <script src="./js/croppie.min.js"></script>
</head>
<body>
	<div class="main">
		<div class="container mcontainer" id="renderPDF">
			
			<div class="card">
				<div class="card-header bg-danger text-white pdtb-5 negrito">
					<i class="fa fa-exclamation-triangle"></i> ERRO
				</div>
				<div class="card-body">
					
					<div class="row text-center ">
						<div class="col-12 col-sm-12 col-md-2 align-self-center mb-1">
							<i class="fa fa-server fa-4x"></i>
						</div>
						<div class="col-12 col-sm-12 col-md-8 align-self-center mb-1">
							<p>
								Houve um erro inesperado. Aguarde uns instante e atualize a página.
								<br> Se o problema persistir, por favor, contacte o suporte técnico para resolver o problema.
							</p>
						</div>
						<div class="col-12 col-sm-12 col-md-2 text-center mb-1">
							<p class="border border-info rounded pdtb-10">
								Suporte Técnico
								<br>
								<a href="https://api.whatsapp.com/send?phone=5528999083661&text=Ocorreu%20um%20erro%20com%20o%20banco%20de%20dados%20da%20minha%20escola." target="_blank" class="pdrl-5 text-center">
									<span class="bg-success text-white ft20 pad-5 rounded pdl-10">
										<i class="fab fa-whatsapp"></i>
									</span>
								</a>
								<a href="tel:028999083661" class="pdrl-5">
									<span class="bg-info text-white ft20 pad-5 rounded pdrl-10">
										<i class="fa fa-phone-alt"></i>
									</span>
								</a>
							</p>
						</div>
					</div>
					
					
				</div>
			</div>
			
			
		</div>
	</div>
</body>
</html>