<div class="infomain bd-1 bd-danger">
	Existe um erro no arquivo enviado.
	Pedimos que reveja o arquivo que você criou e certifique-se que foi feito o download da planilha do sistema (<a href="/files/MultiUser.xls">aqui</a>) e os dados foram devidamente copiados da planilha do SEGES para ela. O arquivo CSV deve ser gerado da planilha do sistema, não diretamente da do SEGES.
	Caso precise de orientação você pode rever o vídeo de ajuda <a href="https://youtu.be/PEDJzDndhbA" targe="_blank">Clicando Aqui</a>.
	
	<br><br>
	<i class="fa fa-exclamation-triangle"></i> O RA deve conter 8 (oito) dígitos, normalmente iniciando-se por 0 (zero). Verifique se na planilha de inserção essa informação está correta!
</div>